<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'product','Product List')}">
    <body>
        <table id="productTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>Name</th>
                    <th>Qty</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}">
                    <td><img th:src="@{/images/ + ${product.photo}}" class="product-photo" alt="Product Photo" width="100"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.qty}"></td>
                </tr>
            </tbody>
        </table>
        <script>
            $(document).ready(function() {
                $('#productTable').DataTable({
                    responsive: true,
                    columns: [
                        null,
                        {searchable: true }, // name column
                        null, // qty column
                    ]
                });
            });
        </script>
    </body>