<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'warehouse','Warehouse')}">
    <body>
        <div class="container mt-5">
            <h2 class="text-center">List Gudang</h2>
            <table id="ListWarehouse" class="table table-striped table-bordered text-center">
                <thead class="thead-dark">
                <tr>
                    <th>Nama</th>
                    <th>Total Stok</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="warehouse : ${warehouses}">
                        <td>
                            <a th:href="@{/warehouse/{id}(id=${warehouse.id})}" class="text-dark">
                                <span th:text="${warehouse.name}">Warehouse Name</span>
                            </a>
                        </td>
                        <td><span th:text="${warehouse.qty}">100</span></td>
                    </tr>
                </tbody>
            </table>    
        </div>

        <script>
            $(document).ready(function() {
                $('#ListWarehouse').DataTable({
                    responsive: true,
                    columns: [
                        {searchable: true }, // name column
                        null, // qty column
                    ]
                });
            });
        </script>
    </body>
</html>